PRIVIX_TURN_URLS=turn:34.101.230.180:3478?transport=udp,turn:34.101.230.180:3478?transport=tcp
PRIVIX_TURN_USERNAME=privix
PRIVIX_TURN_CREDENTIAL=Purbalingga@123
PRIVIX_ICE_POLICY=relay

# Optional: force relay